# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
/.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore editor/config files inside jspaint
/public/jspaint/.vscode/
/public/jspaint/.github/
/public/jspaint/.gitignore

# Icons
/public/icon

# ignore installer files
*.pkg
